.wrap {
    padding:0 2em;
    width:100%;
}
@media all and (min-width: 786px) {
    .wrap {
        margin:0 auto;
        padding:0;
        width:60%;
    }
}
.data-area {
    padding:2em 0;
}
.loader-wrap {
    display:block;
    text-align:center;
}