
@media all and (min-width: 768px) {
    .petition-search {
        position:absolute;
        right:0;
        top:0;
    }
}
.search__label {
    color:#fff;
    display:block;
}
.search__input,
.search__submit {
    border:1px solid #ddd;
    border-radius:2px;
    padding:5px;
}